{{ define "main" }}

{{ partial "page-title.html" . }}

{{ $data := index site.Data site.Language.Lang }}

<section class="contact-form">
  <div class="container">
    <div class="row">
      <form method="POST" action="https://formspree.io/f/mdovwlaw">
        <div class="col-md-6 col-sm-12">
          <div class="block">
            <div class="form-group">
              <input name="user_name" type="text" class="form-control" placeholder="Votre nom">
            </div>
            <div class="form-group">
              <input name="user_email" type="text" class="form-control" placeholder="Votre adresse email">
            </div>
            <div class="form-group">
              <input name="user_subject" type="text" class="form-control" placeholder="L'objet de votre message">
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="block">
            <div class="form-group-2">
              <textarea name="user_message" class="form-control" rows="4" placeholder="Votre message"></textarea>
            </div>
            <button class="btn btn-default" type="submit">{{ i18n "submit" }}</button>
          </div>
        </div>
      </form>
    </div>
    <div class="contact-box row">
      <div class="col-md-6 col-sm-12">
        <div class="block">
          <!--<h2>{{ i18n "address_title" }}</h2>-->
	  <h2>Coordonnées</h2>
          <ul class="address-block">
            <li><i class="ion-ios-location-outline"></i>{{i18n "location"}}: {{ site.Params.location }}</li>
            <li><i class="ion-ios-email-outline"></i>{{i18n "email"}}: {{ site.Params.email }}</li>
            <!--<li><i class="ion-ios-telephone-outline"></i>{{i18n "phone"}}: {{ site.Params.phone }}</li>-->
          </ul>
          <ul class="social-icons">
            {{ range site.Params.social }}
            <li><a href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a></li>
            {{ end }}
          </ul>
        </div>
      </div>
      {{ if site.Params.gmap.enable }}
      <div class="col-md-6 col-sm-12">
        <iframe
					src="https://cartes.app/?allez=Air ESIEA|n11269924881|2.39296|48.81195#15/48.81062/2.39374"
					style="
					width: 95%;
					height: 36rem;
					max-width: 100%;
					margin: 0 auto;
					margin-bottom: 5vh;
					display: block;
					box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
						rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

					background: linear-gradient(white, white) padding-box, linear-gradient(to right, #2988e6, #57bff5) border-box;
  					border: 0.2rem solid transparent;
  					border-radius: 0.5rem; ">
					
  		</iframe>
      </div>
      {{ end }}
    </div>
  </div>
</section>

{{ end }}
